{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}

<h1 class="login">Welcome Back</h1>
<div class="login-form">
    <div class="form-item">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        {% if message %}
        <div class="flash_message">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endwith %}
        {{ form.csrf_token }}
         {{ render_form(form) }}
    </div>
</div>

{% endblock %}


{% include "footer.html" %}